<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="ConnStringLocal" providerName="System.Data.SqlClient"
    connectionString="Server=localhost;Database=tp2_net;Integrated Security=true; User=Marti-PC;"/>
    <add name="ConnStringExpress" providerName="System.Data.SqlClient"
    connectionString="Server=localhost\SQLEXPRESS;Database=tp2_net; Integrated Security=true; User=Marti-PC;"/>
    <add name="ConnStringServerISI" providerName="System.Data.SqlClient"
    connectionString="Server=serverisi; Database=tp2_net; Integrated Security=true; User=Marti-PC;"/>
    <add name="ConexionMaki" connectionString="Data Source=Marti-PC;Initial Catalog=tp2_net;Integrated Security=true;"
    providerName="System.Data.SqlClient" />
    <add name="ConexionMarti" connectionString="Data Source=Marti-PC;Initial Catalog=tp2_net;Integrated Security=true;"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>